Utils/*.step
freecad/__pycache__/
.DS_Store
/freecad/gdml/temp.py~
/freecad/gdml/buildTree.py
/freecad/gdml/exportExtrusion-virtual-union.py
/freecad/gdml/exportExtrusion.py
/freecad/gdml/exportGDML-2022-02-09.py
/freecad/gdml/extrusionExporter.py
/freecad/gdml/gdml.zip
/freecad/gdml/ooExportGDML.py
/freecad/gdml/revolveExporter.py
/freecad/gdml/solidsExporter.py
/freecad/gdml/temp.py
/freecad/gdml/temp.txt
/freecad/hindigdml.zip
/freecad/gdml/Resources/icons/icon_template.svg
/freecad/gdml/Resources/ui/GDMLScale_ui.py
/freecad/gdml/Resources/MapMaterials.xml
/freecad/gdml/Resources/SolidProperties
